{% extends "base.html" %}
{% load markdown_extras %}


{% block content %}
<div class="container py-3" id="about">
    <h1>New Post</h1>
        
    <form id="PostForm" method="POST" enctype="multipart/form-data" action="{% url 'blog:new_post' %}">    
        {% csrf_token %}
        <div class="row my-1">
            <input type="text" id="{{form.title.id_for_label}}" name="{{form.title.name}}" placeholder="Enter the Title" required>    
        </div>
        <div class="row my-1">
            <div class="col-sm-3 col-md-2">
                <label for="{{form.slug.id_for_label}}">Slug</label>
            </div>
            <div class="col-sm-9 col-md-10">
                <input type="text" id="{{form.slug.id}}" name="{{form.slug.name}}">    
            </div>
        </div>

        <label for="{{form.content.id_for_label}}" class="my-1">Content</label>    
        <div>
            {{form.content}}    
        </div>

        <div class="row my-1">
            <div class="col-sm-3 col-md-2">
                <label for="{{form.image.id_for_label}}">Image</label>
            </div>
            <div class="col-sm-9 col-md-10">
                {{form.image}}
            </div>
        </div>


        <div class="row my-1">
            <div class="col-sm-3 col-md-2">
                <label for="{{form.title.id_for_label}}">Tags</label>
            </div>
            <div class="col-sm-9 col-md-10">
                <input type="text" id="{{form.tags.id}}" name="{{form.tags.name}}" placeholder="tag one, tag two, tag three, ...">   
            </div>
        </div>
        
        <button type="submit" id="submit-button">Submit</button>
    </form>
</div>
{% endblock %}