{% extends "base.html" %}
{% load markdown_extras %}
{% load read_time %}
{% load static %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}

<div class="container py-3 post-detail">
    <div class="post-detail-header">
        <div style="display: flex; flex-direction: row;">
            <h2>{{post.title}}</h2>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'blog:delete_post' post.slug %}" style="margin-left: auto;">
                {% csrf_token %}
                <button id="delete-post" type="submit">delete</button>
            </form>
            {% endif %}
        </div>
        <p class="post-time">{{post.created_at}} · {{post.content | readtime}}</p>
        {% for tag in post.tags.all %}
        <a href="{% url 'blog:tagged' tag.slug %}" class="tag">
            <img src="{% static 'icons/tag.png' %}" style="height: 12px; width: 12px;">
            {{ tag }}
        </a>
        {% endfor %}
    </div>
    <div class="post-detail-content">
        {{post.content | markdown | safe}}
    </div>
</div>

<script>
    // Math formula support
    MathJax = {
        tex: {
            inlineMath: [['$', '$']] // ['\\(', '\\)'], ['\(', '\)']
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>
<script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
{% endblock %}