{% extends "base.html" %}
{% load markdown_extras %}
{% load read_time %}
{% load static %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}

<div class="container py-3 post-detail">
    <div class="post-detail-header">
        <div style="display: flex; flex-direction: row;">
            <h2>{{post.title}}</h2>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'blog:delete_post' post.slug %}" style="margin-left: auto;">
                {% csrf_token %}
                <button class="delete-post" type="submit">delete</button>
            </form>
            <a class="delete-post ms-0" href="{% url 'blog:modify_post' post.slug %}" >modify</a>
            {% endif %}
        </div>
        <p class="post-time">{{post.created_at}} · {{post.content | readtime}}</p>
        {% for tag in post.tags.all %}
        <a href="{% url 'blog:tagged' tag.slug %}" class="tag">
            <img src="{% static 'icons/tag.png' %}" style="height: 12px; width: 12px;">
            {{ tag }}
        </a>
        {% endfor %}
    </div>
    <div class="post-detail-content">
        {{post.content | markdown | safe}}
    </div>
</div>

<!-- <script>
    // Math formula support
    MathJax = {
        tex: {
            inlineMath: [['$', '$'] // ['\\(', '\\)'], ['\(', '\)']
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>
<script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
 
<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
 
<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous" 
    onload="renderMathInElement(document.body, {
    // customised options
    // • auto-render specific keys, e.g.:
    delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false},
        // {left: '\\(', right: '\\)', display: false},
        // {left: '\\[', right: '\\]', display: true}
    ],
    // • rendering keys, e.g.:
    throwOnError : true,
  });"></script>

{% endblock %}