{% extends "base.html" %}
{% load static %}
{% load read_time %}
{% load thumbnail %}

{% block title %}
Posts
{% endblock %}

{% block content %}
<div class="container py-3">
    <h1>posts</h1>

    <div id="posts">
        {% for p in post_list %}
        <div class="post-card">
            <a href="{% url 'blog:post' p.slug %}">
                <div class="post-card-image">
                    <img src="{{p.content | thumbnail}}"/>
                </div>
            </a>
            <a href="{% url 'blog:post' p.slug %}" class="post-title">{{p.title}}</a>
            
            <p class="post-time">{{p.created_at}} · {{p.content | readtime}}</p>
            {% for tag in p.tags.all %}
            <a href="{% url 'blog:tagged' tag.slug %}" class="tag">
                <img src="{% static 'icons/tag.png' %}" style="height: 12px; width: 12px;">
                {{ tag }}
            </a>
            {% endfor %}
        </div>
        <hr/>
        {% endfor %}
    </div>
    
    
    {% if user.is_authenticated %}
    <a href="{% url 'blog:new_post' %}"><button class="btn btn-primary my-3">New Post</button></a>
    {% endif %}
    
</div>
{% endblock %}