:root {
    --main-theme-color: #3693be;
}

/* 제목 강조 효과 */
h1#title {
    text-align: center;
    color: var(--main-theme-color);
    margin: 20px 0 40px 0;
}

/* post 썸네일 */

.post-card {
    width: 100%;
    padding-right: 10px;
}

.post-card .post-title {
    margin: 5px 0 0 0;
    font-weight: 600;
}

.post-card .post-date {
    font-size: small;
    color: #AAA;
    margin-bottom: 5px;
}

.post-card-image {
    width: 100%;
    height: max(300px, 30vw);
    overflow: hidden;
}

.post-card-image img {
    width: 100%;
    height: max(300px, 30vw);
    object-fit: cover;
    /* This will crop and center the image */
}

.tag {
    font-size: smaller;
    color: #555;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #EEE;
    margin-right: 5px;
}

.tag:hover {
    background-color: #CCC;
}

/* 상단 프로필 배너 */
#main-profile {
    display: flex;
    flex-direction: row;
}

#main-profile-pic {
    width: 100px;
    height: 100px;
    min-width: 100px;
    margin-right: 10px;
}

#main-profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#main-profile #main-short-desc {
    color: #888;
}

#main-profile #main-short-intro {
    color: #888;
}

#main-profile #main-social-icons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#main-profile #main-social-icons .social-icon {
    width: 32px;
    height: 32px;
    padding: 6px;
    background-color: #EEE;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

#main-profile #main-social-icons .social-icon:hover {
    background-color: #CCC;
    cursor: grab;
}

#main-profile #main-social-icons .social-icon img {
    display: block;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 0;
}

/* 소개글 */

#main-intro a {
    text-decoration: none;
    color: var(--main-theme-color);
}

#main-intro a:hover {
    text-decoration: underline;
}

/* 최근 작성글 */
#main-recent-posts {
    display: grid;
    grid-template-columns: 50% 50%;

}

#main-recent-posts .post-card{
    margin-bottom: 20px;
}

#main-recent-posts .post-card-image {
    width: 100%;
    height: max(200px, 20vw);  /* main page에서는 이미지를 작게 표시*/
    overflow: hidden;
}

#main-recent-posts .post-card-image img {
    width: 100%;
    height: max(200px, 20vw);
    object-fit: cover;
    /* This will crop and center the image */
}


#main-news .news-date {
    color: var(--main-theme-color);
}

/* about 페이지 */

#about h3 {
    color: var(--main-theme-color);
}

/* posts 페이지 */

#posts {
    margin-left: 10%;
    width: 80%;
}

.post-title {
    color: black;
    font-size: larger;
    margin-top: 5px;
    text-decoration: none;
}

.post-title:hover {
    text-decoration: underline;
}

#posts hr {
    margin: 20px 0;
}


/* 개별 post 페이지 */
.post-detail-header {
    margin-bottom: 20px;
}

.post-time {
    font-size: small;
    color: #AAA;
    margin-top: 0px;
    margin-bottom: 5px;
}

.post-detail-header .tag {
    margin-top: 0;
}

.post-detail-header .delete-post{
    color: gray;
    background-color: inherit;
    font-weight: normal;
    margin-left: auto;
    text-decoration: none;
}

.post-detail-header .delete-post:hover{
    text-decoration: underline;
}

/* 사진의 폭 통일 */

.post-detail-content img{
    width: 40%;
    margin-left: 30%;
}

.post-detail-content code{
    background-color: #EEE;
    color: black;
    padding: 2px;
    border-radius: 2px;
    
}

.post-detail-content p{
    line-height: 170%;
}


/* new post 페이지 */
#PostForm input,
textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

#PostForm #id_title {
    border: none;
    margin: 0 10px;
    height: 40px;
    font-size: x-large;
    font-weight: bold;
}

#PostForm #id_content {
    height: 50vh;
}

#PostForm #submit-button {
    background-color: #EEE;
    color: #444;
    border-radius: 5px;
    padding: 5px 15px;
}

.pagination a{
    color: var(--main-theme-color);
}

.pagination li.active a{
    border-color: var(--main-theme-color);
    background-color: var(--main-theme-color);
}

